# Python & Virtual Environments
.venv/
__pycache__/
*.pyc

# OpenFOAM Heavy Time & Processor Folders
0.*/
!0.orig/
[1-9]*/
processor*
postProcessing/
dynamicCode/

# Heavy Geometry & Mesh Artifacts
*.msh
*.stl
*.obj
*.vtk
*.unv
*.med

# Logs & System Files
log.*
*.foam
.vscode/
.DS_Store

# images
*.bmp
*.jpg
*.png